/* POLICES */

@font-face
{
	font-family: 'robotolight';
	src: url('fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
	src: url('fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto_light_macroman/Roboto-Light-webfont.woff2') format('woff2'),
	url('fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
	url('fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
	url('fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* LINK */

.link
{
	color: white;
}

/* ELELEMTS PAGES */

body
{
	background-color: rgb(19, 19, 42);
	color : white;
	font-family: 'robotolight', 'Trebuchet MS', Arial, sans-serif;
}

#bloc_page
{
	width: 80%;
	margin: auto;
}

section h1, footer h1, nav a
{
	font-weight: normal;
	text-transform: uppercase;
}

/* EN TETE */

header
{
	background: url('image/M1.jpg') repeat-x center;
	display: flex;
	justify-content: space-between;
	align-items : flex-end;
}

#titre_principal
{
	display: flex;
	flex-direction: column;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 200px;
}

#logo img
{
	filter: invert(100%);
	width: 125%;
	height 100%;
}

header h1
{
	font-size: 2.5em;
	font-weight: normal;
	margin: 0 0 0 10px;
}

header h2
{
	font-size: 1.1em;
	margin-top: 25px;
	font-weight: normal;
}

/* NAVIGUATION */

nav ul
{
	list-style-type: none;
	font-color: white;
	display: flex;
}

nav li
{
	margin-right: 15px;
	padding-left: 25px;
}

nav a
{
	font-size: 1.3em;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover
{
	border-bottom: 3px solid;
}

/* CORPS */

section
{
	display: flex;
	margin-bottom: 20px;
}

article img
{
	max-width: 75px;
	filter: invert(100%);
}

article
{
	margin-right: 20px;
	flex: 3;
	text-align: justify;
}

article p
{
	font-size: 0.8em;
}

aside
{
	flex: 1.2;
	position: relative;
	background-color: rgb(100, 100, 119);
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em;
}

aside img
{
	max-width: 250px;
}

/* FOOTER */

footer
{
	display: flex;
	position: relative;
	background-color: rgb(100, 100, 119);
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding-top: 25px;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer p, footer ul
{
	font-size: 0.8em;
}

footer h1
{
	font-size: 1.1em;
}

#banniere_contact
{
	max-width: 400px;
}

#banniere_contact img
{
	max-width: 150px;
}

#mes_photos img
{
	border: 1px solid #181818;
	margin-right: 2px;
	max-width: 100px;
}

#mes_photos
{
	width: 35%;
}

/* FIN DE FICHIER */
